
.playlists-container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background-color: #7CAFD6; 
  border-radius: 8px;
  box-shadow: 0 4px 8px #7CAFD6;
}

h2, h3, h4 {
  color: #1F3666; 
}


.input-container input[type="text"],
.input-container input[type="number"] {
  width: 60%;
  padding: 0.75rem;
  border: 1px solid #1F3666; 
  border-radius: 4px;
  background-color: #1F3666; 
  color: #62FDFF; 
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
}


.input-container input::placeholder {
  color: #7CAFD6; 
  opacity: 1;
}


button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #7cafd6; 
  color: #62FDFF; 
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #1F3666; 
  border: 1px solid #1F3666;
}


.create-playlist-button, .save-changes-button {
  background-color: #1F3666;
  color: #62FDFF;
}

.edit-button, .delete-button {
  background-color: #7CAFD6;
  color: #1F3666;
}

.create-playlist-button:hover, .save-changes-button:hover {
  color: #1F3666;
}

.edit-button:hover, .delete-button:hover {
  background-color: #7CAFD6;
  color: #1F3666;
}


.error-message {
  color: #1F3666;
  font-weight: bold;
}

.success-message {
  color: #1F3666;
  font-weight: bold;
}


ul {
  list-style: none;
  padding: 0;
}

li.playlist-item {
  padding: 5px;
  margin: 5px 0;
  background-color: #1F3666;
  border: 1px solid #1F3666;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.playlist-name {
  color: #7CAFD6;
  font-weight: bold;
  font-size: 1.2em;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #33589e;
}

.pagination-controls button:hover {
  background-color: #33589e;
}

.pagination-controls span {
  padding: 5px;
  margin: 0 5px;
  color: #33589e;
  font-weight: bold;
  font-size: 18px;
}


.playlist-details-container {
  background-color: #1F3666;
  border: 1px solid #1F3666;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  display: flex;
  flex-direction: column; 
}

.playlist-details-title {
  color: #62FDFF;
  border-bottom: 2px solid #62FDFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.playlist-details-container p {
  color: #62FDFF;
  margin: 10px 0;
}

.playlist-details-container button {
  background-color: #1F3666;
  color: #7CAFD6;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.playlist-details-container button:hover {
  background-color: #7CAFD6;
  color: #1F3666;
}


.playlist-details-container audio {
  width: 100%; 
  margin: 10px 0; 
}
